.about-img{
    width:10rem;
    object-fit: cover;
    aspect-ratio: 13/16;
    image-rendering: optimizeSpeed;
}
.about-width{
    width: 80%;
}
.link{
    overflow-wrap: anywhere;
}
@media (min-width:850px) {
    .about-width{
        width: 75%;
    }
}