@media screen and (max-width:500px){
    .logo{
        width: 100%;
    }
}
@media screen and (min-width:501px){
    .logo{
        width: 60%;
    }
}
@media screen and (min-width:1000px){
    .logo{
        width: 30%;
    }
}