.parent{
    position: relative;
}
.card{
    position: absolute;
    transform: translate(50%,35%);
}
input{
    outline: none;
}
.signup-form{
    width: 300px;
}
.img{
    width: 90%;
}
.img-div{
    width: 55%;
}